.flag {
    border-radius: 5px;
}
.rot {
    background-color: rgb(224, 47, 96);
    height: 30%;
}
.gelb {
    background-color: #d2bd2a;
    height: 30%;
}
.text {
    position: absolute;
    padding-left: 1.5%;
    padding-top: 1%;
    font-size: x-large;
}
html, body {
    /*overflow: hidden;*/
    margin:0px;
    height:100%;
}
.body {
    position:absolute;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
    background-color: #c5abab;

}
h1 {
    text-decoration: underline;
    font-size: xxx-large;
    font-family: Georgia, Verdana, sans-serif;
}
#answer {
    font-size: 20px;
    padding-top: 150;
    padding-left: 1.5%;
    font-size: 22;
}
.spreadsheet {
    background-color: color(srgb 1 1 1);
    height: 70%;
    position: absolute;
    width: 20%;
    margin-top: 80;
    margin-left: 65%;
    border: 3px black;
    border-radius: 15px;
    background-color: gainsboro;
}
#table {
    padding-top:5%;
    padding-left: 30%;
}
.table_body {
    text-align: justify;
}
#adjust {
    position: absolute;
    top: 90%;
    margin-left: 6%;
}
.outer--conatiner--login{
    display: grid;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 400px;
    text-align: center;
    margin: auto;
    grid-template-columns: 199px;
    grid-template-rows: 100px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-top: 8px double red;
    border-left: 8px double darkorange;
    border-right: 8px double lightseagreen;
    border-bottom: 8px double darkgray;
    border-radius: 25px;
}
.header--login{
    font-size: 2.5rem;
 }
.form-field{
    padding: 10px;
    padding-inline: 15%;
    margin: inherit;
}